body,ul,dd,dl,dt,h1,h2,h3,h4,h5,h6,p{padding:0;margin:0;list-style:none;}
body{font-family: 'microsoft yahei';overflow-x:hidden;}
img{vertical-align: bottom;}
a,a:hover,a:focus,a:link{text-decoration: none;outline:none;}
$main-color: #549ff1;
$bg-drak:#393939;
$bg-light:#efefef;
body{
  //background-color:$bg-color;
}

#nav{
  width:220px;
  float:left;
  background-color:$bg-drak;
  position:absolute;
  bottom:0;
  top:0;
  z-index:3;
  left:0;
  -webkit-transform:translateX(0);
          transform:translateX(0);
  &:before{
    display:none;
  }
  .logo{
    width:80px;
    height:80px;
    border-radius:50%;
    border:5px solid $main-color;
    display:block;
    margin:50px auto;
    overflow:hidden;
    img{
      width:inherit;
      height:inherit;
    }
  }
  .scl_container{
    position:absolute;
    top:180px;
    bottom:10%;
    width:100%;
    overflow:hidden;
    ul{
      text-align:center;
      background-color:$bg-drak;
      ul{
        ul{
          background-color:lighten($bg-drak,2%);
          ul{
            background-color:lighten($bg-drak,5%);

          }
        }
      }
      li{
        a{
          display: block;
          color:#f5f5f5;
          border-top:3px solid transparent;
          border-bottom:3px solid transparent;
          padding:5px 0;
          margin:5px 0;
          cursor:pointer;
          &.bold{
            font-weight:bold;
            color:$main-color;
          }
          &:hover{
            background-color:lighten($main-color,15%);
            border-color:darken($main-color,15%);
          }
        }
      }
    }
  }
}
#help{
  position:absolute;
  bottom:5px;
  width:100%;
  text-align:center;
  a{
    color:$main-color;
    font-size:14px;
    padding:0 5px;
  }
}
#handbook{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,.5);
  display:none;
  z-index:3;
  .bandbook_container{
    width:70%;
    height:80%;
    overflow:auto;
    border-radius:20px;
    background-color:$bg-light;
    margin:50px auto 0;
    h3{
      font-size:16px;
      color:$bg-drak;
      padding:15px 0;
    }
    p{
      font-size:14px;
      color:lighten($bg-drak,20%);
      padding:8px 0;
    }
    b{
      padding:0 3px;
      //color:#F73C3C;
      color:$main-color;
    }
    a{
      color: $main-color;
    }
    .scroll-content{
      padding:20px;
    }
  }
}
.scroll-content{
  outline:none;
}
.sliderEnd{
  -webkit-transition:-webkit-transform 300ms ease-out;
  transition:-webkit-transform 300ms ease-out;
  transition:transform 300ms ease-out;
  transition:transform 300ms ease-out, -webkit-transform 300ms ease-out;
}
#main{
  //padding:30px 30px 30px 250px;
  padding-left:220px;
  background-color:#f5f5f5;
  box-sizing:border-box;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  .link_container{
    position:absolute;
    top:0;
    bottom:0;
    z-index: 2;
  }
  ul{
    padding-top:30px;
    padding-bottom:30px;
    outline:none;
    li{
      display:inline-block;
      margin-bottom:25px;
      a{
        $height:25px;
        $yPadding:5px;
        $xPadding:8px;
        $borderRadius:5px;
        color:#666;
        padding:$yPadding $xPadding;
        line-height:$height;
        border:1px solid $main-color;
        border-radius:$borderRadius;
        margin-left:25px;
        display:block;
        -webkit-transition:all 300ms linear;
        transition:all 300ms linear;
        position:relative;
        span{
          display:none;
        }
        &:hover{
          span{
            display:block;
            position:absolute;
            top:$height + 3 * $yPadding;
            left:50%;
            -webkit-transform:translateX(-50%);
                    transform:translateX(-50%);
            background-color:$bg-drak;
            color:$bg-light;
            padding:$yPadding $xPadding;
            border-radius:$borderRadius;
            white-space:nowrap;
            z-index:2;
          }
          background-color:$main-color;
          color:$bg-light;
        }
      }
    }
  }
  #save{
    text-align:center;
    position:absolute;
    z-index:3;
    bottom:30px;
    width:100%;
    input{
      padding:5px 8px;
      line-height:16px;
      height:16px;
      font-size:14px;
      width:240px;
      outline:none;
      border-radius:5px;
      border:none;
    }
    button{
      margin-left:5px;
      font-weight:bold;
      color:$bg-light;
      background-color:$bg-drak;
      border:none;
      border-radius:5px;
      padding:5px 8px;
      line-height:16px;
      cursor:pointer;
      outline:none;
      &:active{
        background-color:lighten($bg-drak,15%);
      }
    }
  }
}
#mask{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0.01);
  z-index:-1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s ;
}
#search_box{
  position:absolute;
  top:0;
  left:0;
  right:0;
  //bottom:0;
  background-color:$bg-light;
  padding:0.5% 1%;
  box-sizing:border-box;
  -webkit-transform:translateY(-100%);
          transform:translateY(-100%);
  will-change:transform;
  .ipt{
    box-sizing:border-box;
    margin:0 auto;
    width:98%;
    input{
      outline:none;
      width:98%;
      padding:0 1%;
      height:50px;
      line-height:50px;
      font-size:24px;
      border:none;
      box-shadow:1px 4px 5px 2px #ddd;
    }
  }
  .result_container{
    position:absolute;
    top:60px;
    bottom:0;
  }
  .list{
    width:98%;
    padding:0 1%;
    padding-bottom:30px;
    margin-top:20px;
    font-size:18px;
    li{
      overflow:hidden;
      height:36px;
      line-height:36px;
      border-bottom:1px solid #fff;
      a{
        color:$main-color;
        float:left;
      }
      span{
        padding-left:20px;
        margin-left:20px;
        color:#666;
        border-left:2px solid $bg-drak;
      }
    }
  }
}
@media (max-width:768px){
  #nav{
    width:50%;
    float:left;
    -webkit-transform:translateX(-100%);
            transform:translateX(-100%);
    &:before{
      content:'';
      display:block;
      position:absolute;
      top:0;
      right:0;
      z-index:-1;
      width:9999px;
      bottom:0;
      background-color:$bg-drak;
    }
  }
  #main{
    padding-left:0;
  }
  #search_box{
    .ipt{
      input{
        width:90%;
        padding:0 5%;
      }
    }
  }
}
.scroll{
  position:absolute;
  top:0;
  right:0;
  height:100%;
  background-color:#fff;
  .bar{
    width:10px;
    height:10px;
    background-color:$main-color;
  }
}
.fade-enter-active, .fade-leave-active {
  -webkit-transition:opacity .5s;
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}