<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebMarker</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/smooth-scrollbar.css">
    <base target="_blank"/>
</head>
<body>
<script type="text/x-template" id="item-template">
    <li>
        <a
                :class="{bold: isFolder}"
                @click="toggle"
                @click="getDt"
                @dblclick="changeType">
            {{model.h3}}
        </a>
        <ul v-show="open" v-if="isFolder">
            <item
                    class="item"
                    v-for="model in model.dl"
                    :model="model">
            </item>
        </ul>
    </li>
</script>
<nav id="nav">
    <a target="_self" class="logo" href=""><img src="images/vn.jpg" alt=""></a>
   <div class="scl_container" data-scrollbar="">
       <ul id="nav_folder">
           <item v-for="model in bookmarks"
                   :model="model">
           </item>
       </ul>
   </div>
</nav>
<section id="main">
   <div class="link_container" data-scrollbar="">
       <ul id="linkList" >
           <li v-for="dt in list">
               <a v-bind:href="dt.href">{{dt.tit?dt.tit:'书签名未填写'}}
                   <span v-if="dt.desc">{{dt.desc}}</span>
               </a>
           </li>
       </ul>

   </div>
    <div id="save" v-show="show">
        <input type="text" placeholder="自定义后缀名,如不需要直接点保存即可" v-model="hash">
        <button @click="check">检测名称是否可用</button>
        <button @click="save">保存并生成个性后缀</button>
    </div>
</section>
<div id="mask">
    <aside id="search" class="sliderEnd">
        <div class="ipt">
            <input v-on:keyup.enter="test" type="text">
        </div>
        <div class="list">
            <ul>
                <li><a href="#">结果2</a></li>
                <li><a href="#">结果2</a></li>
                <li><a href="#">结果2</a></li>
                <li><a href="#">结果2</a></li>
                <li><a href="#">结果2</a></li>
                <li><a href="#">结果2</a></li>
            </ul>
        </div>
    </aside>
</div>
<script src="js/vue.min.js"></script>
<script src="js/velocity.min.js"></script>
<script src="js/smooth-scrollbar.js"></script>
<script src="js/index.js"></script>
</body>
</html>